.row{
    justify-content: space-around;
    margin: 0px;
}
.row img{
    width: 35px;
}
.item{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #F5F6F7;
    border-radius: 7px;
    border: 2px solid white;
    width: 25%;
}
.main-container{
    margin-top: 40px;
}
strong{
    display:flex;
}
p{
    margin: auto;
    font-size: 12px;
    color: #2F85DB;
}
h6{
    font-size: 15px;
    color:#2F85DB;
}

@media screen and (max-width:995px){

    h6{
        font-size: 1vw !important;
    }

    .row img{
        width: 2.5vw;
        margin-right: 1vw;
    }
    p{
        font-size: 1vw;
    }
    .item{
        padding: 1vw;
    }
    .main-container{
        margin-top: 3vh;
    }
}