<div class="main-container container">
    <div class="sub-container container">
        <div class="row">
            <div class="mobile-image">
                <img [src]="mobileImage">
            </div>
            <div class="links-section">
                <div class="links-sub-section">
                    <p>Get our Mobile App from</p>
                    <div class="row links-row">
                        <a [href]="">
                            <img [src]="playStore">
                        </a>
                        <a [href]="">
                            <img [src]="appStore">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>