<div class="container">
    <div class="row main-section">
        <div class="image-section">
            <img src="assets/images/blackberry.JPG" alt="">
        </div>
        <div class="description-section">
            <p class="product-name">Organic BlackBerry (1kg)</p>
            <span class="reviews-section">  
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <small class="text-muted">from 345 reviews</small>
            </span>
            <table>
                <tr>
                    <td>Quantity</td>
                    <td>:</td>
                    <td>1 kg</td>
                </tr>
            </table>
            <small class="assured text-danger">Company Assured Product</small>
            <p><strong class="price text-danger">12 AED</strong></p>
            <div class="item-number mt-3 row">
                    <div class="item-form row mr-2">
                        <button class="btn btn-light mr-1"><i class="fa fa-plus"></i></button>
                        <input type="number" disabled class="form-control mr-1 no-spinners" value="1">
                        <button class="btn btn-light mr-1"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="links">
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
            </div>
            <p class="mt-4">Product Description</p>
            <small class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempora neque nostrum aliquid accusamus repellendus repellat aliquam cum corporis provident. Iusto magni rem ad reprehenderit quis reiciendis quod ipsa ipsum.
            </small>
        </div>
    </div>
    <h6 class="mt-5">Similar products</h6>
    <productlist></productlist>
</div>