<div class="cart-container container">
    <div class="cart container row">
        <ul class="cart-items">
            <div>
                    <h5>My Cart</h5>
                    <hr>
            </div>
            <li class="item mt-3">
                <div class="row">
                    <div class="product-image mr-2">
                        <img  src="assets/images/green-apple.jpg" alt="">
                    </div>
                    <div class="product-description">
                        <p class="p-name">Product Name</p>
                        <small class="max-price text-danger"><del>12 AED</del></small>
                        <small class="text-muted">60%</small>
                        <span class="offer-price text-danger font-weight-bold">5 AED</span>
                    </div>
                </div>
                <div class="item-number mt-3 row">
                    <div class="item-form row mr-2">
                        <button class="btn btn-light mr-1"><i class="fa fa-plus"></i></button>
                        <input type="number" disabled class="form-control mr-1 no-spinners" value="1">
                        <button class="btn btn-light mr-1"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="links">
                        <button class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </li>
            <li class="item mt-3">
                    <div class="row">
                        <div class="product-image mr-2">
                            <img  src="assets/images/green-apple.jpg" alt="">
                        </div>
                        <div class="product-description">
                            <p class="p-name">Product Name</p>
                            <small class="max-price text-danger"><del>12 AED</del></small>
                            <small class="text-muted">60%</small>
                            <span class="offer-price text-danger font-weight-bold">5 AED</span>
                        </div>
                    </div>
                    <div class="item-number mt-3 row">
                        <div class="item-form row mr-2">
                            <button class="btn btn-light mr-1"><i class="fa fa-plus"></i></button>
                            <input type="number" disabled class="form-control mr-1 no-spinners" value="1">
                            <button class="btn btn-light mr-1"><i class="fa fa-minus"></i></button>
                        </div>
                        <div class="links">
                            <button class="btn btn-danger">Remove</button>
                        </div>
                    </div>
            </li>
        </ul>
        <div class="price-details">
                <h5>Price Details</h5><hr>
                <table>
                    <tr>
                        <td>Price (2 items)</td>
                        <td>10 AED</td>
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        <td>FREE</td>
                    </tr>
                    <br><hr>
                    <tr>
                        <td>Total Payable</td>
                        <td>10 AED</td>
                    </tr>
                </table>
                <h5 class="mt-5">Delivery Address</h5><hr>
                <select class="form-control">
                        <option class="form-control">Address 1</option>
                        <option>Address 2</option>
                </select>
                <button class="mt-3 btn btn-warning btn-lg">Place Order</button>
        </div>
    </div>
</div>