<div class="filters">
        <div class="heading">
            <p>Filters</p>
        </div>
        <div class="range-filter container">
            <p>Price</p>
            <div>
                <small>Min Price</small>
                <div class="slidecontainer">
                        <input type="range" min="1" max="1000" value="0" class="slider" id="minRange">
                </div>
                <small id="minVal"></small>
                <br>
                <small>Max Price</small>
                <div class="slidecontainer">
                        <input type="range" min="1" max="1000" value="0" class="slider" id="maxRange">
                </div>
                <small id="maxVal"></small>
                <br>
            </div>
        </div>
        <div class="category container">
            <p>Discount</p>
            <ul>
                <li><input class="mr-1" type="checkbox" name="Category 1" id=""><span>15%</span></li>
                <li><input class="mr-1" type="checkbox" name="Category 1" id=""><span>25%</span></li>
                <li><input class="mr-1" type="checkbox" name="Category 1" id=""><span>50%</span></li>
                <li><input class="mr-1" type="checkbox" name="Category 1" id=""><span>75%</span></li>
            </ul>
        </div>
</div>