<div class="signup-section container">
        <div class="container">
          <form method="post">
            <h3>Sign Up</h3>
            <hr>
            <div class="form-group form-flex" >
              <div class="form-flexbox" id="fname">
                <label>First Name</label>
                <input name="fname" required type="text" class="form-control float-left" placeholder="Enter First Name">
              </div>
              <div class="form-flexbox">
                <label>Last Name</label>
                <input name="lname" required type="text" class="form-control float-right" placeholder="Enter Last Name">
              </div>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input name="username" required type="text" class="form-control" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" name="dob">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label>Phone(With Country Code)</label>
              <input required name="phone" type="text" class="form-control" placeholder="Enter Phone">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input required name="password" type="password" class="form-control" id="passwordinput" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Re-enter Password</label>
              <input required name="repassword" type="password" class="form-control" id="verifypasswordinput" placeholder="Re-enter Password">
            </div>
            <div class="form-check">
              <div class="form-flex">
                <a href="login"> <small>Already member? Login</small> </a>
              </div>
            </div>
            <br>
            <button id="signupbutton" disabled type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>