form{
    width: 400px;
    margin:auto;
}
.form-check{
    padding: 0;
}
.form-flex{
    display: flex;
    justify-content:space-between ;
}
.form-flex input,.form-flexbox{
    width: 99%;
}
input{
    font-size: 12px;
}
label{
    font-size: 14px;
}
.container{
    display: flex;
    height: 100vh;
}

 
@media screen and (max-width:995px){

   h3{
       font-size: 3vw;
   }
   *{
       font-size: 1vw;
   }
   label,input{
       font-size: 1vw;
   }

 }